.titleSGT{
  font-size: 40px;
}
.title{
  font-size: 30px;
}

.averageScore{
  height: 50%;
  width: 30%;
  font-size: 1.8rem;
}

.badge{
  line-height: 0.55;
}

.addGradeTitle {
  font-size: 25px;
}

.mt-3 {
  margin-top: 1.3rem!important;
}
.mt-4 {
  margin-top: 1.9rem!important;
}

.w-25{
  width: 14%!important;
}
